version: 2

jobs:
  lint_and_test:
    docker:
      - image: circleci/python:3.7.3
    working_directory: ~/work
    steps:
      - checkout
      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt
      - run: . venv/bin/activate && make download-kdd-data lint test

workflows:
  version: 2
  lint_and_test:
    jobs:
      - lint_and_test 
